<footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5>Reach Goals</h5>
  
          <p>
            FitBoost is an app that helps you stay on top of your fitness goals.
            With features such as calorie tracking, workout videos, and hydration monitoring,
            it provides all the tools you need to lead a healthy lifestyle. Whether you're just
            starting out or are an experienced fitness enthusiast, FitBoost can help
            you reach your goals.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5>Ease of Use</h5>
  
          <p>
            Using FitBoost is easy and intuitive. Simply enter your personal information
            and fitness goals, and the app will provide you with personalized recommendations for
            your daily calorie intake, hydration needs, and workout routines. You can track your
            progress over time, and the app will adjust its recommendations as needed to help you
            stay on track.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Developed by Lucas Larson, Alan Guajardo, And Kai Janssen: 
      <a class="text-white" href=""style="color: rgba(0, 0, 0, 0.2);">FitBoost</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->