<div class="bg-image">
    <h1>Welcome to my Fitness Track</h1>
    <p>
        An essential part of a healthy lifestyle. 
    </p>
    <br>
  </div>
  
<h5 style="margin-top: 5vh; margin-bottom: 30px">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regular exercise not only helps to maintain a healthy weight,
but also improves cardiovascular health, boosts immunity, and reduces the risk of chronic diseases. Eating
a healthy diet and staying hydrated are also important for overall health.
</h5>
<h5 style="margin-top: 5vh; margin-bottom: 30px">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    That's where Fitness Track comes in. Our app provides a comprehensive solutionto help you reach your fitness goals.
    We provide customized recommendations on the number of calories you should be consuming, suggest workouts based on
    your fitness level, and offer workout videos to guide you through each exercise. We also provide guidelines on how
    much water you should be consuming to stay hydrated throughout the day. With Fitness Track, you'll have all the
    tools you need to live a healthier life.
    </h5>
<br>