<body>
    <details>
        <summary>Full Body Workouts!</summary>
        <ul></ul>
            <iframe width="420" height="315"src="https://www.youtube.com/embed/iCQ2gC4DqJw?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/rI_6l992GrA?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/UItWltVZZmE?&mute=1"></iframe> 
        
    </details>
    <details>
        <summary>Arm Workouts!</summary>
        <ul>
            <iframe width="420" height="315"src="https://www.youtube.com/embed/UyTR2EjTAXU?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/iDhJl4WIG_k?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/0zhvUV1bAVQ?&mute=1"></iframe> 
        </ul>
    </details>
    <details>
        <summary>Chest Workouts!</summary>
        <ul>
            <iframe width="420" height="315"src="https://www.youtube.com/embed/jBhZWX91bec?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/NsEbXsTwas8?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/QdT-Bgmp2u4?&mute=1"></iframe> 
        </ul>
    </details>
    <details>
        <summary>Ab Workouts!</summary>
        <ul>
            <iframe width="420" height="315"src="https://www.youtube.com/embed/G16eeqO2U7g?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/E3cfWpsWzZM?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/VRV6HM1xiiM?&mute=1"></iframe> 
        </ul>
    </details>
    <details>
        <summary>Back Workouts!</summary>
        <ul>
            <iframe width="420" height="315"src="https://www.youtube.com/embed/xG636AAqq8g?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/o062bxRT1EA?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/o4T42QFFMzE?&mute=1"></iframe> 
        </ul>
    </details>
    <details>
        <summary>Leg Workouts!</summary>
        <ul>
            <iframe width="420" height="315"src="https://www.youtube.com/embed/xjs9_7fZD4s?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/H6mRkx1x77k?&mute=1"></iframe> 
            <iframe width="420" height="315"src="https://www.youtube.com/embed/eWyZWZtvsxk?&mute=1"></iframe> 
        </ul>
    </details>
</body>
<nav>
    <a routerLink="/">back </a>
  </nav>