<body style="margin-top: 70px; margin-bottom: 300px;">
    <p>What is your age (In years)?</p>
    <input id="age" [(ngModel)]="age" placeholder="What is your Age?">
    <p>What is your height (in cm)?</p>
    <input id="height" [(ngModel)]="height" placeholder="What is your height?">
    <p>What is your weight (in kg)?</p>
    <input id="weight" [(ngModel)]="weight" placeholder="What is your weight?">
    <p></p>
    <button (click) = "calculateCaloricIntake(age)">Calculate Intake</button>
    <p>{{caloricIntake}}</p>
</body>
